<?xml version="1.0"?>
<launch>
  <!-- start Webots -->
  <!-- <arg name="world" default="" doc="Path to the world to load"/> -->
  <arg name="world" value="$(find webotsim)/worlds/ros_python.wbt"/>
  <arg name="mode" default="realtime" doc="Startup mode"/>
  <arg name="no_gui" default="false" doc="Start Webots with minimal GUI"/>
  <node name="webots" pkg="webotsim" type="webots_launcher.py" args="--world=$(arg world) --mode=$(arg mode) --no-gui=$(arg no_gui)" required="true"/>

  <arg name="auto_close" default="false" doc="Startup mode"/>
  <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):$(env WEBOTS_HOME)/lib/controller"/>
  <env name="PYTHONPATH" value="$(env PYTHONPATH):$(env WEBOTS_HOME)/lib/controller/python27" unless="$(eval '1' if env('ROS_DISTRO') == 'noetic' else '0')" />
  <env name="PYTHONPATH" value="$(env PYTHONPATH):$(env WEBOTS_HOME)/lib/controller/python38" if="$(eval '1' if env('ROS_DISTRO') == 'noetic' else '0')" />
  <node name="webotsim_python" pkg="webotsim" type="ros_python.py" required="$(arg auto_close)" output="screen"/>
  <node name="ros_controller" pkg="webotsim" type="ros_controller.py" required="$(arg auto_close)"/>
  <node name="teleop" pkg="webotsim" type="turtlebot3_teleop_key.py" required="$(arg auto_close)"/>
</launch>
